.appHeader {
  text-align: center;
  padding: 40px;
  color: white;
  margin-bottom: 20px;
}
.appHeader .appTitle {
  font-size: 30px;
  font-family: Helvetica;
  font-weight: bold;
  background-color: #222;
  padding-left: 40%;
  padding-right: 40%;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}
.treeSketch {
  margin-bottom: -342px;
  width: 500px;
  margin-left: 550px;
}
.sapeople {
  height: 65px;
  position: absolute;
  margin-top: -15px;
  margin-left: 30px;
}
